{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<div class="metodologia">
	<div class="container">
		<div class="head_section">
			<h2>{% trans "INVOLUCRARSE" %}</h2>
		</div>
		  <div class="contact_wrap">
	<div class="row">
	  <div class="col-sm-6">
		<div class="query politicas">
			<!--<h3>{% trans "POLITICA DE SOLICITUD DE DATOS" %}</h3>-->
			<div class="">
				<p>
					{% blocktrans %}Si tienes preguntas sobre cómo usar la análisis ABD de Cuatro Celdas  y/o si desea contribuir con datos a la Red, o para cualquier otra consulta o comentario, por favor póngase en contacto con nosotros. Puede enviarnos un mensaje usando el formulario adyacente. Por favor, incluya una breve descripción y nos pondremos en contacto con usted lo antes posible con más detalles sobre nuestra política de uso de datos.{% endblocktrans %}
				</p>
			</div>

		</div>
	  </div>
	  <div class="col-sm-6">
		<div class="query">
		  <!--<h3>{% trans "FORMULARIO DE SOLICITUD" %}</h3>-->
			{% if enviado == 1 %}
			<div class="text-success">{% trans "Su mensaje ha sido enviado correctamente!!!" %}</div>
			{% endif %}
		  <form name="mailform" id="mailform" method="post" enctype="multipart/form-data" >{% csrf_token %}
			<div class="form-group">
			  {{form.name}}
			</div>
			<div class="form-group">
				{{form.email}}
			</div>
			<div class="form-group">
				{{form.project}}
			</div>
			<div class="form-group">
				{{form.tipo}}
			</div>
			<div class="form-group">
				{{form.message}}
			</div>
			<!--<div class="checkbox checkbox-success">
				<input id="checkbox3" type="checkbox">
				<label for="checkbox3">
					{% trans "Acepto los terminimos y condiciones" %}.
				</label>
			</div>-->
			<div class="error"></div>
			<input class="submit-btn" value="{% trans 'ENVIAR MENSAJE' %}" type="submit" onClick="ValiDate()">
		  </form>
		</div>
	  </div>
	</div>
  </div>
	</div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
	$('#id_name').addClass("form-control textfild");
	$('#id_name').attr("placeholder", "{% trans 'Nombre' %}");

	$('#id_email').addClass("form-control textfild");
	$('#id_email').attr("placeholder", "{% trans 'Correo' %}");

	$('#id_project').addClass("form-control textfild");
	$('#id_project').attr("placeholder", "{% trans 'Projecto' %}");

	$('#id_tipo').addClass("form-control textfild");
	$('#id_tipo').attr("placeholder", "{% trans 'Tipo' %}");

	$('#id_message').addClass("form-control textareafild");
	$('#id_message').attr("placeholder", "{% trans 'Descripción breve' %}");
});

{% if enviado == 1 %}
$(document).ready(function(){
  $('#id_name').val('');
	$('#id_email').val('');
	$('#id_project').val('');
	$('#id_message').val('');
});
{% endif %}

</script>
{% endblock %}
