{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="metodologia">
	<div class="container">
		<div class="head_section">
			<h2>{% trans "AFILIARSE" %}</h2>
		</div>
		  <div class="contact_wrap">
	<div class="row">
	  <div class="col-sm-6">
		<div class="query politicas">
			<h3>{% trans "POLITICA DE SOLICITUD DE DATOS" %}</h3>
			<div class="terminos">
				<p>
					Urna a aliquet pid phasellus integer nunc nunc rhoncus duis, et ac a mattis sed pellentesque dictumst massa enim augue in nec a? Lundium et dignissim sed nunc? In phasellus penatibus pulvinar duis rhoncus amet adipiscing et nec vel magnis, cursus ridiculus, tortor augue, magnis platea elit elementum, etiam! Cras enim etiam vel ultricies proin urna integer, et dapibus cum dis tempor aliquam dignissim urna? Lectus, est? Tristique! Urna velit, urna elementum! Habitasse in? Ultricies. Elementum ultricies a. Dolor dolor, ut! Sed dignissim adipiscing, aliquet? Dignissim platea placerat! In sed? Porttitor aliquet. Et placerat porta integer cum urna ultricies, dis! Dis tristique habitasse nunc aenean? Integer parturient habitasse, hac eu. Augue, tincidunt augue parturient, vel elementum ut magna nunc placerat.
				</p>

			</div>

		</div>
	  </div>
	  <div class="col-sm-6">
		<div class="query">
		  <h3>{% trans "FORMULARIO DE SOLICITUD" %}</h3>
		  <form name="mailform" id="mailform" method="post" enctype="multipart/form-data" >
			<div class="form-group">
			  <input type="text" class="form-control textfild" name="name" id="name" placeholder="Nombre">
			</div>
			<div class="form-group">
			  <input type="email" name="email" id="email" class="form-control textfild" placeholder="Correo">
			</div>
			<div class="form-group">
			  <input type="text" name="subject" id="subject" class="form-control textfild" placeholder="Projecto">
			</div>
			<div class="form-group">
			  <textarea name="textarea" id="textarea" class="form-control textareafild" placeholder="Descripción breve"></textarea>
			</div>
			<div class="checkbox checkbox-success">
				<input id="checkbox3" type="checkbox">
				<label for="checkbox3">
					{% trans "Acepto los terminimos y condiciones" %}.
				</label>
			</div>


			<div class="error"></div>
			<input type="button" value="SOLICITAR DATOS" class="submit-btn" onClick="ValiDate()">
		  </form>
		  <div class="mailSuccessDiv"> Your Message Sent Successfully!!! </div>
		</div>
	  </div>
	</div>
  </div>
	</div>

</div>
{% endblock %}
