{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% block extra_js %}
<script type="text/javascript">
	$(".pagination a:contains('>')").html("Siguiente");
	$(".pagination a:contains('<')").html("Anterior");
</script>

{% endblock %}


{% block content %}


<div class="metodologia">
	<div class="container">
		<div class="head_section">
		  <h2>{% trans "CONTRIBUYENTES" %}</h2>

		</div>
		<div class="row">
			{% paginate 16 object_list %}
			{% for obj in object_list %}
			<div class="col-sm-3">
			  <div class="member">
				<a href="{% url 'cientifico-detalle' obj.slug %}">
				{% if obj.foto %}
				  	{% thumbnail obj.foto "178x178" crop="center" as img %}
					<div class="photo"> <img  src="/media/{{img}}" alt="" class="img-circle"  /> </div>
					{% endthumbnail %}
				{% else %}
				<div class="photo"> <img  src="http://placehold.it/178x178" alt="" class="img-circle"  /> </div>
				{% endif %}
				  <div class="info">
					  <h4 class="name">{{obj.name}}</h4>
					  <span class="designation">{{obj.cargo}}</span>
					  <ul class="datamember">
						  <p><span class="fa fa-envelope"></span> {{obj.correo}}</p>
						  <p><span class="fa fa-phone"> </span> {{obj.telefono}}</p>
					  </ul>
				  </div>
				  </a>
			  </div>
		  	</div>

			{% endfor %}
		</div>
		<div class="row">

			<!-- pagination box -->
			<nav class="Page navigation pagination-box">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
					<ul class="pagination pagination-list">
						<li>{% show_pages %}</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<div class="paginas pull-right">
						<p>{% show_current_number %} de {% get_pages %}{{ pages|length }} paginas</p>
					</div>

				</div>

			</nav>
			<!-- End Pagination box -->

		</div>
	</div>
</div>
{% endblock %}
