{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block content %}
<!-- Header
	================================================== -->
<div id="home">
	<div class="banner" style="background-image:url(/static/images/1.jpg);">
		<h2 class="sltext">{% trans "Red de Datos de Agrobiodiversidad" %}</h2>
	</div>

</div>
<!-- /Header Close -->
<!-- About Us Section
	================================================== -->
	<div class="aboutus" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="choos_us">
						<div class="head_section">
							<h2>{% trans "INTRODUCCIÓN" %}</h2>
						</div>
						<div class="whchoise">
							<p>
							{% blocktrans %}Los trópicos son conocidos por los altos niveles de biodiversidad que se encuentran en estas áreas, pero se sabe poco sobre la disponibilidad y el uso de la biodiversidad agrícola en los trópicos. Biodiversidad agrícola es la base para una producción agrícola sostenible. Biodiversidad agrícola es también la base para dietas diversas y saludables. El conocimiento sobre el la disponibilidad y uso de biodiversidad agrícola en comunidades agrícolas permite a investigadores, comunitarios, y sus organizaciones de apoyo, para identificar las necesidades y soluciones para mejorar la producción y la comida en estas comunidades agrícolas.{% endblocktrans %}
							</p>
							<p>
								{% blocktrans %}En este portal, la Red de Datos de Biodiversidad Agrícola comparte conocimiento sobre la disponibilidad y el uso de biodiversidad agrícola en comunidades agrícolas de los trópicos. Hasta el momento la base de datos incluye información de 52 comunidades agrícolas de 8 países. Por lo que sabemos, esta es la base de datos más extensa de la diversidad y uso de biodiversidad agrícola a nivel comunitario en los trópicos.{% endblocktrans %}
							</p>
							<p>
								{% blocktrans %}Los datos de cada comunidad se recogieron con una metodología común: el análisis de cuatro celdas. Esta metodología es una técnica de evaluación participativa y rápida que fue originalmente creada para evaluar la abundancia y distribución de variedades de cultivos en comunidades agrícolas. La metodología fue adaptada para evaluar la abundancia y uso de biodiversidad agrícola en sistemas alimentarios de comunidades agrícolas. Para cada comunidad agrícola incluida en la base de datos, el portal presenta la producción, consumo, adquisición y comercialización de cada especie en los sistemas alimentarios de comunidades agrícolas.{% endblocktrans %}
							</p>
							<p>
								{% blocktrans %}Se puede utilizar la información presentada para identificar los vacíos e identificar opciones para la producción sostenible y la diversidad alimentaria en estas comunidades.{% endblocktrans %}
							</p>
						</div>
					</div>
				</div>

			</div>
			<a href="/filtros/" class="btndatos pull-right">{% trans "Explorar datos" %}</a>
		</div>
	</div>
<!--Datos de especies
	================================================== -->
	<div class="mapeo">
		<div class="container">
			<div class="row">

				<div class="col-md-8">
					<div class="choos_us">
						<h3 class="about_title">{% trans "Mapa de localidades" %}</h3>
						<div class="whchoise">
							<div id="map-canvas" style="width:100%; height:400px"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="choos_us">
			          	<h3 class="about_title">{% trans "Datos Generales" %}</h3>
			          	<div class="whchoise">
							<ul class="timeline">
				              <li>
				                <div class="timeline-badge">{{paises}}</div>
				                <div class="timeline-panel">
				                  <h4>{% if LANGUAGE_CODE == 'es' %}Paises<br>en el mundo{% else %}Countries{% endif %}</h4>
				                </div>
				              </li>
				              <li class="timeline-inverted">
				                <div class="timeline-badge">{{comunidades}}</div>
				                <div class="timeline-panel">
				                  <h4>{% if LANGUAGE_CODE == 'es' %}Comunidades <br>
				                    Monitoriadas{% else %}Communities{% endif %}</h4>
				                </div>
				              </li>
				              <li>
				                <div class="timeline-badge">{{species}}</div>
				                <div class="timeline-panel">
				                  <h4>{% if LANGUAGE_CODE == 'es' %}Especies <br>
				                    Investigadas{% else %}Species{% endif %}</h4>
				                </div>
				              </li>
				              <li class="timeline-inverted">
				                <div class="timeline-badge">{{focus_groups}}</div>
				                <div class="timeline-panel">
				                  <h4>{% if LANGUAGE_CODE == 'es' %}Grupos <br>
													Focales{% else %}Focus <br> Groups{% endif %}</h4>
				                </div>
				              </li>
				            </ul>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>

<!-- Parallax
	================================================== -->
<div class="parallax parallax_a" id="metodologia">
  <div class="container">
    {% load flatpages %}
    {% get_flatpages as flatpages %}
    {% for page in flatpages %}
			{% if LANGUAGE_CODE == 'es' %}
      {% if page.url == '/metodologia/' %}
        <h2>{{page.title}}</h2>
      <p>
        {{ page.content|safe|truncatewords:100 }}
      </p>
      <a href="/metodologia/" class="plink">{% trans "Leer más..." %}</a>
      {% endif %}
			{% elif LANGUAGE_CODE == 'en' %}
			{% if page.url == '/methodology/' %}
        <h2>{{page.title}}</h2>
      <p>
        {{ page.content|safe|truncatewords:100 }}
      </p>
      <a href="/methodology/" class="plink">{% trans "Leer más..." %}</a>
      {% endif %}
			{% endif %}

    {% endfor %}
  </div>
</div>
<!-- / Parallax Close Close -->
<!--BLOG Section
	================================================== -->
<div class="blog" id="blog">
  <div class="container">
	<div class="head_section">
	  <h2>{% trans "PROYECTOS Y PUBLICACIONES" %}</h2>
	</div>
	<div class="row">
	  {% for obj in proyectos|slice:":3" %}
		<div class="col-sm-4">
		  <div class="post-item">
			<div class="post-headre">
			  <div class="post-seam">
				<div class="date"> <span>{{obj.fecha.day}}</span> {{obj.fecha|date:"M"}} </div>
			  </div>
			  <div class="post-image">
				<a href="{% url 'proyecto-detalle' obj.slug %}"><i class="fa fa-search"></i></a>
				{% if obj.imagen %}
				  {% thumbnail obj.imagen "740x450" crop="center" as img %}
								   <img src="/media/{{img}}" alt="">
								{% endthumbnail %}
				{% else %}
				  <img src="http://placehold.it/740x450" alt="" />
				{% endif %}
			  </div>
			</div>
			<div class="post-content">
			  <h4>{{obj.titulo}}</h4>
			  <p>{{obj.contenido|safe|striptags|truncatewords:20}}</p>
			</div>
		  </div>
		</div>
	  {% endfor %}
	</div>
	<a href="/list-publicaciones/" class="btndatos pull-right">{% trans "Ver publicaciones" %}</a>
  </div>
</div>
<!-- / blog Close -->

<div class="clearfix"></div>

<!-- Parallax 04
	================================================== -->
<div class="parallax parallax_d" id="afiliase">
  <div class="container">
	<h2>{% trans "INVOLUCRARSE" %}</h2>
	<p>
		{% blocktrans %}Si tienes preguntas sobre cómo usar la análisis ABD de Cuatro Celdas  y/o si desea contribuir con datos a la Red, o para cualquier otra consulta o comentario, por favor póngase en contacto con nosotros.{% endblocktrans %}
</p>
	<div class="clearfix"></div>
	<a href="/contactar" class="plink">{% trans "INVOLUCRARSE AHORA" %}</a> </div>
</div>
<!-- / Parallax Close Close -->
<div class="clearfix"></div>

<!-- Organizaciones Section
	================================================== -->
<div class="ourteam" id="team">
	<div class="container">
		<div class="head_section">
			<h2>{% trans "CONTRIBUYENTES" %}</h2>
		</div>

			<div class="title-link">
				<a href="/lista-cientificos">
					<h4 style="text-align:center;">{% trans "Científicos Participantes" %}</h4>
				</a>

			</div>
			<div class="team-carousel-control">
				<a class="left" href="#team-carousel2" data-slide="prev"><i class=" fa fa-angle-left"></i></a>
				<a class="right" href="#team-carousel2" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>
			<div class="container">
				<div class="row">
					<div id="team-carousel2" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item row active">
								{% for obj in cien %}
									<div class="col-sm-3">
										<div class="member">
											<a href="{% url 'cientifico-detalle' obj.slug %}">
												{% if obj.foto %}
												{% thumbnail obj.foto "200x200" crop="center" as img %}
												<div class="photo"> <img  src="/media/{{img}}" alt="" class="img-circle"  /> </div>
												{% endthumbnail %}
												{% else %}
												<div class="photo"> <img  src="http://placehold.it/200x200" alt="" class="img-circle"  /> </div>
												{% endif %}

												<div class="info">
													<h4 class="name">{{obj.name}}</h4>
													<span class="designation">{{obj.cargo}}</span>
													<ul class="datamember">
														<p><span class="fa fa-envelope"></span> {{obj.correo}}</p>
														<p><span class="fa fa-phone"> {{obj.telefono}}</span></p>
													</ul>
												</div>
											</a>
										</div>
									</div>
									{% if forloop.counter|divisibleby:4 %}

										</div>
										<div class="item row">
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="clearfix"></div>
		<div>
			<h4 style="text-align:center;">{% trans "Organizaciones" %}</h4>

		</div>

		<div class="team-carousel-control">
			<a class="left" href="#team-carousel" data-slide="prev"><i class=" fa fa-angle-left"></i></a>
			<a class="right" href="#team-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
		</div>
		<div class="container">
			<div class="row">
				<div id="team-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item row active">

							{% for obj in org%}
							<div class="col-sm-2">
								<a href="{% url 'org-detalle' obj.slug %}">
									<div class="c-img">
										{% if obj.logo %}
										{% thumbnail obj.logo "170" format="PNG" as img %}
										<img src="/media/{{img}}" alt="">
										{% endthumbnail %}
										{% else %}
										<img src="http://placehold.it/170x170" alt="">
										{% endif %}
									</div>
									<!--<div class="siglas col-sm-12 ">
										<p>{{obj.name}}</p>
									</div>-->
								</a>
							</div>
								{% if forloop.counter|divisibleby:6 %}
									</div>
									<div class="item row">
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

		</div>
	</div>
</div>

<!-- / Organizaciones Close -->


<div class="clearfix"></div>

{% endblock content %}

{% block extra_js %}


<!--<script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>-->
<script type="text/javascript" src="/static/js/markerclusterer.js"></script>
<script>


	var markers = [];
	function initialize()
	{
		var infowindow = new google.maps.InfoWindow();
		var myLatlng = new google.maps.LatLng(9.0611105,4.1772434);
		var myOptions = {
			zoom: 2,
			center: myLatlng,
		}

		var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
		var bounds = new google.maps.LatLngBounds();
		var infowindow = new google.maps.InfoWindow();


		$.getJSON("{% url 'obtener-lista' %}", function(data){
			$.each(data, function(i, elemento){
				var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
				bounds.extend(latlng);
				var marker = new google.maps.Marker({
					position: latlng,
					map: map,
					title: elemento.nombre,
					// icon: image,
					item: '',
					id: elemento.id
				});
				markers.push(marker);

				google.maps.event.addListener(marker, 'click', (function(mm, tt) {
					return function() {
						infowindow.setContent(tt);
						infowindow.open(map, mm);
					}
				})(marker, elemento.nombre));

			});
			var markerCluster = new MarkerClusterer(map, markers);

		});

		//map.fitBounds(bounds);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
