{% load i18n %}
<div class="container-fluid">
	<div class="row">
		<ul class="filtro-select">
		<li>
			<a class="btn btn-primary ind-btn" href="/species/nutritional-group-by-community/" role="button">{% trans "Especies por Grupo Nutricionales por Comunidad" %}</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/species/nutritional-group-by-country/" role="button">{% trans "Especies por Grupo Nutricional por País" %}</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/species/number-of-species/" role="button">{% trans "Total de Especies" %}</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/species/relationship-between-number-of-species-environmental-and-economic-factors/" role="button">{% trans "Relación entre número especies, factores ambientales y económicos" %}</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/species/profile-spicies/" role="button">{% trans "Perfil de Especies" %}</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/species/profile-focus-groups/" role="button">{% trans "Perfil de Grupos Focales" %}</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/species/tables-abd/" role="button">{% trans "Tablas ABD" %}</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/species/profile-abd/" role="button">{% trans "Perfil ABD" %}</a>
		</li>
		</ul>
	</div>
</div>
