<div class="container-fluid">
	<div class="row">
		<ul class="filtro-select">
		<li>
			<a class="btn btn-primary ind-btn" href="/especies/grupo-nutricional-comunidad/" role="button">especies por grupo nutricional por comunidad</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/especies/grupo-nutricional-pais/" role="button">especies por grupo nutricional por pais</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/especies/numero-especies/" role="button">especies total</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/especies/numero-especies-comunidad/" role="button">números promedios de especies por comunidad</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/especies/perfil-especies/" role="button">Perfil especies</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/especies/perfil-focus-groups/" role="button">Perfil focus groups</a>
		</li>
		<li>
			<a class="btn btn-primary ind-btn" href="/especies/perfil-abd/" role="button">Perfil ABD</a>	
		</li>






		</ul>
	</div>
</div>
