{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block content %}
<div class="metodologia" id="consulta">

	<div class="" id="services">
		<div class="container">
			<div class="row profile">
				<div class="col-md-2 col-sm-6">

					{% if obj.logo %}
						{% thumbnail object.logo  as img %}
						    <img class="logo-org" src="/media/{{img}}" alt="">
						{% endthumbnail %}
					{% else %}
						<img src="http://placehold.it/200x200" alt="" />
					{% endif %}

				</div>
				<div class="col-md-6 col-sm-6">
					<div class="member-detail">
						<div class="name">{% trans "Nombre:" %} {{object.name}}</div>
						<div class="pais">{% trans "País:" %} {{object.pais}}</div>
						<div class="cargo">{% trans "Dirección:" %} {{object.direccion}}</div>
						<div class="telefono">{% trans "Teléfono:" %} <a href="callto:{{object.telefono}}">{{object.telefono}}</a></div>
						<div class="correo">{% trans "Sitio:" %} <a href="{{object.url}}" target="_blank">{{object.url}}</a></div>
						<div class="contacto">{% trans "Persona de contacto:" %} {{object.persona_contacto}}</div>
						<div class="puesto_contacto">{% trans "Puesto persona de contacto:" %} {{object.puesto_persona_contacto}}</div>
						<div class="email_contacto">{% trans "Email persona de contacto:" %} {{object.email_persona_contacto}}</div>
						<div class="tel_contacto">{% trans "Telefono persona de contacto:" %} {{object.telefono_persona_contacto}}</div>
					</div>


				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="bar-text">
						{{object.descripcion|safe}}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
