{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% load i18n %}

{% block extra_js %}
<script type="text/javascript">
	$(".pagination a:contains('>')").html("Siguiente");
	$(".pagination a:contains('<')").html("Anterior");
</script>

{% endblock %}
{% block content %}
<div class="metodologia">
	<div class="container">
		<div class="head_section">
		  <h2>{% trans "PROYECTOS Y PUBLICACIONES" %}</h2>

		</div>
		{% paginate 6 object_list %}
		{% for obj in object_list %}
			<div class="col-sm-4">
				<div class="post-item">
					<div class="post-headre">
						<div class="post-seam">
							<div class="date"> <span>{{obj.fecha.day}}</span> {{obj.fecha|date:"M"}} </div>
						</div>
						<div class="post-image">
							<a href="{% url 'proyecto-detalle' obj.slug %}"><i class="fa fa-search"></i></a>
							{% if obj.imagen_principal %}
							{% thumbnail obj.imagen_principal "740x450" crop="center" as img %}
							<img src="/media/{{img}}" alt="">
							{% endthumbnail %}
							{% else %}
							<img src="http://placehold.it/740x450" alt="" />
							{% endif %}
						</div>
					</div>
					<div class="post-content">
						<h4>{{obj.titulo}}</h4>
						<p>{{obj.contenido|safe|striptags|truncatewords:20}}</p>
					</div>
				</div>
							</div>

		{% endfor %}

		<div class="row">

			<!-- pagination box -->
			<nav class="Page navigation pagination-box">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
					<ul class="pagination pagination-list">
						<li>{% show_pages %}</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<div class="paginas pull-right">
						<p>{% show_current_number %} {% trans "de" %} {% get_pages %}{{ pages|length }} {% trans "paginas" %}</p>
					</div>

				</div>

			</nav>
			<!-- End Pagination box -->

		</div>
	</div>
</div>
{% endblock content %}
