{% extends "base.html" %}

{% block content %}
<div class="consulta" id="consulta">
  <div class="container">
    <div class="head_section">
      <h2>Grupos nutricionales por país</h2>
    </div>
  </div>

  <div class="contact_wrap">
    <div class="container">
      <div class="row">
        <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for key in pais.keys %}
      <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}"><a href="#{{forloop.counter}}" aria-controls="{{forloop.counter}}" role="tab" data-toggle="tab">{{key}}</a></li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% for key,values in pais.items %}
    <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">
      <div id="container{{forloop.counter}}" style="width: 1000px; height: 400px; margin: 0 auto"></div>
      <a class="btn btn-default" role="button" href="#" onclick="exportarXLS('modalidad{{forloop.counter}}'); return false;">Exportar</a>
      <div class="table-responsive" id="modalidad{{forloop.counter}}">
          <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">Cultivado</th>
                    <th colspan="2">Vendido</th>
                    <th colspan="2">Comprado</th>
                    <th colspan="2">Consumido</th>
                </tr>
                <tr>
                  <th></th>
                  <th>Hombres</th>
                  <th>Mujeres</th>
                  <th>Hombres</th>
                  <th>Mujeres</th>
                  <th>Hombres</th>
                  <th>Mujeres</th>
                  <th>Hombres</th>
                  <th>Mujeres</th>
                </tr>
            </thead>
            <tbody>
              {% for k,v in values.1.items %}
                <tr>
                    <td>{{k|safe}}</td>
                    {% for x in v %}
                      <td>{{x.0}}</td>
                      <td>{{x.1}}</td>
                      <td>{{x.2}}</td>
                      <td>{{x.3}}</td>
                    {% endfor %}
                </tr>
              {% endfor %}


            </tbody>
        </table>
    </div>
    </div>
    {% endfor %}
  </div>

</div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
  {% for values in pais.values %}
    $('#container{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Número de especies por grupo nutricional'
        },
        xAxis: {
            categories: ['Mujeres', 'Hombres']
        },
        credits: {
            enabled: false
        },
        series: [
          {% for k,v in values.0.items %}
            {
              name: '{{k|safe}}',
              data: [{% for x in v %}{{x}},{% endfor %}]
            },
          {% endfor %}
         ]
    });
  {% endfor %}
});

</script>
{% endblock %}
