{% extends "base.html" %}
{% load i18n %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css" type="text/css"/>
{% endblock %}


{% block content %}
<div class="menu-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <div class="salida-title">
                    <h4>{% trans "Especies por Grupo Nutricionales por Comunidad" %}</h4>
                    <ol class="breadcrumb">
                        <li><a href="/">{% trans "Inicio" %}</a></li>
                        <li><a href="/filters/">{% trans "Explorar datos" %}</a></li>
                        <li class="active">{% trans "Especies por Grupo Nutricionales por Comunidad" %}</li>
                    </ol>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                <ul class="nav nav-tabs menu-fs pull-right" role="tablist">

                    <li role="presentation" class="active">

                        <a href="#filtro" aria-controls="filtro" role="tab" data-toggle="tab">
                        <div class="f-icon"><i class="fa fa-filter fa-2x"></i></div>
                        <h6>{% trans "filtro" %}</h6>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#indicadores" aria-controls="indicadores" role="tab" data-toggle="tab">
                            <div class="f-icon"><i class="fa fa-bar-chart fa-2x"></i></div>
                            <h6>{% trans "indicadores" %}</h6>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li role="presentation">
                      <a onclick="exportarXLS('atributos'); return false;" href="#" aria-controls="indicadores" role="tab" data-toggle="tab">
                          <div class="f-icon"><i class="fa fa-file-excel-o fa-2x"></i></div>
                          <h6>{% trans "exportar atributos" %}</h6>
                      </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel">
    <!-- Tab panes -->
    <div class="tab-content filtro-indicador">
        <div role="tabpanel" class="tab-pane active" id="filtro">
            {% include "salidas/select_filtros.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="indicadores">
            {% include "indicadores.html" %}
        </div>
    </div>
</div>

<div class="consulta">
    <div class="contact_wrap">
        <div class="container">
            <div class="row">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary">{% trans "Seleccione la comunidad" %}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dw-s">
                            {% for key in comu.keys|slice:"1" %}{{key}}{% endfor %}
                            <span class="caret"></span>
                        </span>
                    </button>
                    <div class="dropdown-menu">
                        {% for key in comu.keys %}
                        <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}">
                            <a class="drop" href="#{{forloop.counter}}" aria-controls="{{forloop.counter}}" role="tab" data-toggle="tab">{{key}}</a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% for key,values in comu.items %}
                        <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">

                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default panel-salidas">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>{% trans "Número de especies por grupo nutricional" %}</h3>
                                        <span>{% trans "Gráfico Frecuencia" %}</span>

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row stacked">
                                        <div id="container{{forloop.counter}}" width='100%'></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default panel-salidas">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>{% trans "Número de especies por grupo nutricional" %}</h3>
                                        <span>{% trans "Tabla de valores" %}</span>

                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> {% trans "Exportar Datos" %}</button>
                                        <ul class="dropdown-menu">

                                            <li><a onclick="exportarXLS('modalidad{{forloop.counter}}'); return false;" href="#"><img src='/static/images/xls.png' width="24"/> XLS</a></li>

                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="panel-body">

                                    <div class="table-responsive" id="modalidad{{forloop.counter}}">
                                        <table class="table table-bordered table-hover" id="especies_comunidad">
                                            <thead>
                                              <tr>
                                                  <th></th>
                                                  <th colspan="2">{% trans "Producido" %}</th>
                                                  <th colspan="2">{% trans "Vendido" %}</th>
                                                  <th colspan="2">{% trans "Comprado" %}</th>
                                                  <th colspan="2">{% trans "Consumido" %}</th>
                                              </tr>
                                              <tr>
                                                  <th></th>
                                                  <th>{% trans "Hombres" %}</th>
                                                  <th>{% trans "Mujeres" %}</th>
                                                  <th>{% trans "Hombres" %}</th>
                                                  <th>{% trans "Mujeres" %}</th>
                                                  <th>{% trans "Hombres" %}</th>
                                                  <th>{% trans "Mujeres" %}</th>
                                                  <th>{% trans "Hombres" %}</th>
                                                  <th>{% trans "Mujeres" %}</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v in values.1.items %}
                                                <tr>
                                                    <td>{{k|safe}}</td>
                                                    {% for x in v %}
                                                    <td>{{x.0}}</td>
                                                    <td>{{x.1}}</td>
                                                    <td>{{x.2}}</td>
                                                    <td>{{x.3}}</td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!-- END SALES BLOCK -->




                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>

<div class="" style="display:none" id="atributos">
  <table class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>{% trans "Pais" %}</th>
            <th>{% trans "Comunidad" %}</th>
            <th>{% trans "Atributos" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for x in scientist %}
        <tr>
          <th>{{x.0}}</th>
          <th>{{x.1}}</th>
          <th>{{x.2}} ({{x.3|date:'o'}}) Agricultural Bioversity Data Network. {{x.4}}</th>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
</div>
{% endblock %}

{% block extra_js %}
<!--
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap4.min.js"></script> -->
<script type="text/javascript">

    $(".drop").click(function(){
        $('.drop').parent().removeClass("active");
        var content = $(this).text();
        $(".dw-s").text(content+" ");
        $(".dw-s").append("<span class='caret'></span>")
    })

</script>
<script type="text/javascript">

// $(document).ready(function(){
//     $('#especies_comunidad').DataTable({
//         "language": {
//             "lengthMenu": "Mostrar _MENU_ entradas por página",
//             "zeroRecords": "Valor no encontrado",
//             "info": "Página _PAGE_ de _PAGES_",
//             "infoEmpty": "No records available",
//             "infoFiltered": "(filtered from _MAX_ total records)",
//             "search":         "Buscar:",
//             "paginate": {
//                 "first":      "First",
//                 "last":       "Last",
//                 "next":       "Siguiente",
//                 "previous":   "Anterior"
//             },
//         }
//     });

// });


$(function () {
  {% for values in comu.values %}
    $('#container{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: ['{% trans "Mujeres" %}', '{% trans "Hombres" %}','{% trans "Ambos" %}']
        },
        credits: {
            enabled: false
        },
        yAxis: {
            title: {
                text: '{% trans "Frecuencia" %}'
            }
        },
        series: [
          {% for k,v in values.0.items %}
            {
              name: '{{k|safe}}',
              data: [{% for x in v %}{{x}},{% endfor %}]
            },
          {% endfor %}
         ]
    });
  {% endfor %}
});

</script>
{% endblock %}
