{% extends "base.html" %}

{% block content %}
<div class="menu-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div class="salida-title">
                    <h4>Número de especies</h4>
                    <ol class="breadcrumb">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/filtros/">Explorar datos</a></li>
                        <li class="active">Número de especies</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="consulta" id="consulta">


	<div class="contact_wrap">
		<div class="container">
			
			<div class="row">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary">Seleccione la comunidad</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dw-s">
                            {% for key in comu.keys|slice:"1" %}{{key}}{% endfor %}
                            <span class="caret"></span>
                        </span>
                    </button>
                    <div class="dropdown-menu">
                        {% for key in comu.keys %}
                        <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}">
                            <a class="drop" href="#{{forloop.counter}}" aria-controls="{{forloop.counter}}" role="tab" data-toggle="tab">{{key}}</a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
            	<!-- Tab panes -->
					<div class="tab-content">
						{% for key,values in comu.items %}
						<div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}">


							<!-- START SALES BLOCK -->
                            <div class="panel panel-default panel-salidas">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Número de especies por comunidad</h3>
                                        <span>Tabla de valores</span>
                                        
                                    </div>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                        <ul class="dropdown-menu">

                                            <li><a onclick="exportarXLS('modalidad{{forloop.counter}}'); return false;" href="#"><img src='/static/images/xls.png' width="24"/> XLS</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">                                    
                                    <div class="table-responsive" id="modalidad{{forloop.counter}}">
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th></th>
													<th colspan="4">Numero de especies</th>
												</tr>
												<tr>
													<th></th>
													<th>Media</th>
													<th>Hombres</th>
													<th>Mujeres</th>
												</tr>
											</thead>
											<tbody>
												{% for v in values.0 %}
												<tr>
													<td>Total</td>
													<td>{{v.0}}</td>
													<td>{{v.1}}</td>
													<td>{{v.2}}</td>
												</tr>
												{% endfor %}
												{% for v in values.1 %}
												<tr>
													<td>Produced</td>
													<td>{{v.0}}</td>
													<td>{{v.1}}</td>
													<td>{{v.2}}</td>
												</tr>
												{% endfor %}
												{% for v in values.2 %}
												<tr>
													<td>Sold</td>
													<td>{{v.0}}</td>
													<td>{{v.1}}</td>
													<td>{{v.2}}</td>
												</tr>
												{% endfor %}
												{% for v in values.3 %}
												<tr>
													<td>Purchased</td>
													<td>{{v.0}}</td>
													<td>{{v.1}}</td>
													<td>{{v.2}}</td>
												</tr>
												{% endfor %}
												{% for v in values.4 %}
												<tr>
													<td>Consumed</td>
													<td>{{v.0}}</td>
													<td>{{v.1}}</td>
													<td>{{v.2}}</td>
												</tr>
												{% endfor %}


											</tbody>
										</table>
									</div>
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
							
						</div>
						{% endfor %}
					</div>
            </div>
            <div class="row">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary">Seleccione el páis</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="dw-s2">
                            {% for key in pais.keys|slice:"1" %}{{key}}{% endfor %}
                            <span class="caret"></span>
                        </span>
                    </button>
                    <div class="dropdown-menu">
                        {% for key in pais.keys %}
                        <li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}">
                            <a class="drop2" href="#{{key}}-{{forloop.counter}}" aria-controls="{{key}}-{{forloop.counter}}" role="tab" data-toggle="tab">{{key}}</a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
            	<!-- Tab panes -->
				<div class="tab-content">
					{% for key,values in pais.items %}
					<div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{key}}-{{forloop.counter}}">
						
						<!-- START SALES BLOCK -->
                        <div class="panel panel-default panel-salidas">
                            <div class="panel-heading">
                                <div class="panel-title-box">
                                    <h3>Número de especies por pais</h3>
                                    <span>Tabla de valores</span>
                                    
                                </div>

                                <div class="btn-group pull-right">
                                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos</button>
                                    <ul class="dropdown-menu">

                                        <li><a onclick="exportarXLS('modalidad2-{{forloop.counter}}'); return false;" href="#"><img src='/static/images/xls.png' width="24"/> XLS</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">                                    
                                <div class="table-responsive" id="modalidad2-{{forloop.counter}}">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th></th>
												<th colspan="4">Numero de especies</th>
											</tr>
											<tr>
												<th></th>
												<th>Media</th>
												<th>Hombres</th>
												<th>Mujeres</th>
											</tr>
										</thead>
										<tbody>
											{% for v in values.0 %}
											<tr>
												<td>Total</td>
												<td>{{v.0}}</td>
												<td>{{v.1}}</td>
												<td>{{v.2}}</td>
											</tr>
											{% endfor %}
											{% for v in values.1 %}
											<tr>
												<td>Cultivado</td>
												<td>{{v.0}}</td>
												<td>{{v.1}}</td>
												<td>{{v.2}}</td>
											</tr>
											{% endfor %}
											{% for v in values.2 %}
											<tr>
												<td>Vendido</td>
												<td>{{v.0}}</td>
												<td>{{v.1}}</td>
												<td>{{v.2}}</td>
											</tr>
											{% endfor %}
											{% for v in values.3 %}
											<tr>
												<td>Comprado</td>
												<td>{{v.0}}</td>
												<td>{{v.1}}</td>
												<td>{{v.2}}</td>
											</tr>
											{% endfor %}
											{% for v in values.4 %}
											<tr>
												<td>Consumido</td>
												<td>{{v.0}}</td>
												<td>{{v.1}}</td>
												<td>{{v.2}}</td>
											</tr>
											{% endfor %}


										</tbody>
									</table>
								</div>                                  
                            </div>
                        </div>
                        <!-- END SALES BLOCK -->
						
					</div>
					{% endfor %}
				</div>
            </div>

		</div>
	</div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">

    $(".drop").click(function(){
        $('.drop').parent().removeClass("active");
        var content = $(this).text();
        $(".dw-s").text(content+" ");
        $(".dw-s").append("<span class='caret'></span>")
    })
    $(".drop2").click(function(){
        $('.drop2').parent().removeClass("active");
        var content = $(this).text();
        $(".dw-s2").text(content+" ");
        $(".dw-s2").append("<span class='caret'></span>")
    })

</script>
{% endblock %}