{% extends "base.html" %}
{% load humanize %}
{% load i18n %}

{% block content %}
<div class="menu-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <div class="salida-title">
                    <h4>{% trans "Relación entre número especies, factores ambientales y económicos" %}</h4>
                    <ol class="breadcrumb">
                      <li><a href="/">{% trans "Inicio" %}</a></li>
                      <li><a href="/filtros/">{% trans "Explorar datos" %}</a></li>
                        <li class="active">{% trans "Relación entre número especies, factores ambientales y económicos" %}</li>
                    </ol>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                <ul class="nav nav-tabs menu-fs pull-right" role="tablist">

                    <li role="presentation" class="active">

                        <a href="#filtro" aria-controls="filtro" role="tab" data-toggle="tab">
                        <div class="f-icon"><i class="fa fa-filter fa-2x"></i></div>
                        <h6>{% trans "filtro" %}</h6>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#indicadores" aria-controls="indicadores" role="tab" data-toggle="tab">
                            <div class="f-icon"><i class="fa fa-bar-chart fa-2x"></i></div>
                            <h6>{% trans "indicadores" %}</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel">

    <!-- Tab panes -->
    <div class="tab-content filtro-indicador">
        <div role="tabpanel" class="tab-pane active" id="filtro">
            {% include "salidas/select_filtros.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="indicadores">
            {% include "indicadores.html" %}
        </div>
    </div>
</div>

<div class="consulta" id="consulta">
	<div class="contact_wrap">
		<div class="container">
			<div class="row">
            <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#cultiva" aria-controls="cultiva" role="tab" data-toggle="tab">{% trans "Producido" %}</a></li>
            <li role="presentation"><a href="#vendido" aria-controls="vendido" role="tab" data-toggle="tab">{% trans "Vendido" %}</a></li>
            <li role="presentation"><a href="#comprado" aria-controls="comprado" role="tab" data-toggle="tab">{% trans "Comprado" %}</a></li>
            <li role="presentation"><a href="#consumido" aria-controls="consumido" role="tab" data-toggle="tab">{% trans "Consumido" %}</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="cultiva">
              <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones anuales (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="container" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Temperatura media anual (Celsius) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="temp" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones en el cuarto más seco (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="precipitation" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Altitud (m) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="altitude" width='100%'></div>
                    </div>
                </div>
            </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="vendido">
              <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones anuales (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="vendidas" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Temperatura media anual (Celsius) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="temp_sold" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones en el cuarto más seco (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="precipitation_sold" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Altitud (m) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="altitude_sold" width='100%'></div>
                    </div>
                </div>
            </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="comprado">
              <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones anuales (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="compradas" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Temperatura media anual (Celsius) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="temp_purchased" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones en el cuarto más seco (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="precipitation_purchased" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Altitud (m) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="altitude_purchased" width='100%'></div>
                    </div>
                </div>
            </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="consumido">
              <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones anuales (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="consumidas" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Temperatura media anual (Celsius) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="temp_consumed" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Precipitaciones en el cuarto más seco (mm) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="precipitation_consumed" width='100%'></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-salidas">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>{% trans "Altitud (m) promedio" %}</h3>
                        <span>{% trans "Gráfico de promedios" %}</span>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="row stacked">
                        <div id="altitude_consumed" width='100%'></div>
                    </div>
                </div>
            </div>
            </div>
            </div>

            </div>


			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    $(".drop").click(function(){
        $('.drop').parent().removeClass("active");
        var content = $(this).text();
        $(".dw-s").text(content+" ");
        $(".dw-s").append("<span class='caret'></span>")
    })

</script>
<script type="text/javascript">
$(function () {
  Highcharts.setOptions({
		lang: {
			thousandsSep: ','
		}
	});
    Highcharts.chart('container', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones anuales (mm) vs Especies cultivadas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones anuales (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in rainfall.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });

    Highcharts.chart('vendidas', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones anuales (mm) vs Especies vendidas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones anuales (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in rainfall_sold.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });

    Highcharts.chart('compradas', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones anuales (mm) vs Especies compradas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones anuales (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in rainfall_purchased.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });

    Highcharts.chart('consumidas', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones anuales (mm) vs Especies consumidas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones anuales (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in rainfall_consumed.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });


  //  temperatura ---------------------------------
   Highcharts.chart('temp', {
       chart: {
           type: 'scatter',
           zoomType: 'xy'
       },
       title: {
           text: '{% trans "Temperatura media anual (Celsius) vs Especies cultivadas" %}'
       },
       xAxis: {
           title: {
               enabled: true,
               text: '{% trans "Temperatura media anual (Celsius)" %}'
           },
           startOnTick: true,
           endOnTick: true,
           showLastLabel: true
       },
       yAxis: {
           title: {
               text: '{% trans "Especies" %}'
           }
       },
       plotOptions: {
           scatter: {
               marker: {
                   radius: 7,
                   states: {
                       hover: {
                           enabled: true,
                           lineColor: 'rgb(100,100,100)'
                       }
                   }
               },
               states: {
                   hover: {
                       marker: {
                           enabled: false
                       }
                   }
               },
               tooltip: {
                   headerFormat: '<b>{series.name}</b><br>',
                   pointFormat: '{point.y} {% trans "especies" %} | {point.x} C°'
               }
           }
       },
       series: [
         {% for k,v in temperature.items %}
               {
                 name: '{{k}}',
                 color: '{{k.province.country.color}}',
                 data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
             },
         {% endfor %}
           ]
   });

   Highcharts.chart('temp_sold', {
       chart: {
           type: 'scatter',
           zoomType: 'xy'
       },
       title: {
           text: '{% trans "Temperatura media anual (Celsius) vs Especies vendidas" %}'
       },
       xAxis: {
           title: {
               enabled: true,
               text: '{% trans "Temperatura media anual (Celsius)" %}'
           },
           startOnTick: true,
           endOnTick: true,
           showLastLabel: true
       },
       yAxis: {
           title: {
               text: '{% trans "Especies" %}'
           }
       },
       plotOptions: {
           scatter: {
               marker: {
                   radius: 7,
                   states: {
                       hover: {
                           enabled: true,
                           lineColor: 'rgb(100,100,100)'
                       }
                   }
               },
               states: {
                   hover: {
                       marker: {
                           enabled: false
                       }
                   }
               },
               tooltip: {
                   headerFormat: '<b>{series.name}</b><br>',
                   pointFormat: '{point.y} {% trans "especies" %} | {point.x} C°'
               }
           }
       },
       series: [
         {% for k,v in temperature_sold.items %}
               {
                 name: '{{k}}',
                 color: '{{k.province.country.color}}',
                 data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
             },
         {% endfor %}
           ]
   });

   Highcharts.chart('temp_purchased', {
       chart: {
           type: 'scatter',
           zoomType: 'xy'
       },
       title: {
           text: '{% trans "Temperatura media anual (Celsius) vs Especies compradas" %}'
       },
       xAxis: {
           title: {
               enabled: true,
               text: '{% trans "Temperatura media anual (Celsius)" %}'
           },
           startOnTick: true,
           endOnTick: true,
           showLastLabel: true
       },
       yAxis: {
           title: {
               text: '{% trans "Especies" %}'
           }
       },
       plotOptions: {
           scatter: {
               marker: {
                   radius: 7,
                   states: {
                       hover: {
                           enabled: true,
                           lineColor: 'rgb(100,100,100)'
                       }
                   }
               },
               states: {
                   hover: {
                       marker: {
                           enabled: false
                       }
                   }
               },
               tooltip: {
                   headerFormat: '<b>{series.name}</b><br>',
                   pointFormat: '{point.y} {% trans "especies" %} | {point.x} C°'
               }
           }
       },
       series: [
         {% for k,v in temperature_purchased.items %}
               {
                 name: '{{k}}',
                 color: '{{k.province.country.color}}',
                 data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
             },
         {% endfor %}
           ]
   });

   Highcharts.chart('temp_consumed', {
       chart: {
           type: 'scatter',
           zoomType: 'xy'
       },
       title: {
           text: '{% trans "Temperatura media anual (Celsius) vs Especies consumidas" %}'
       },
       xAxis: {
           title: {
               enabled: true,
               text: '{% trans "Temperatura media anual (Celsius)" %}'
           },
           startOnTick: true,
           endOnTick: true,
           showLastLabel: true
       },
       yAxis: {
           title: {
               text: '{% trans "Especies" %}'
           }
       },
       plotOptions: {
           scatter: {
               marker: {
                   radius: 7,
                   states: {
                       hover: {
                           enabled: true,
                           lineColor: 'rgb(100,100,100)'
                       }
                   }
               },
               states: {
                   hover: {
                       marker: {
                           enabled: false
                       }
                   }
               },
               tooltip: {
                   headerFormat: '<b>{series.name}</b><br>',
                   pointFormat: '{point.y} {% trans "especies" %} | {point.x} C°'
               }
           }
       },
       series: [
         {% for k,v in temperature_consumed.items %}
               {
                 name: '{{k}}',
                 color: '{{k.province.country.color}}',
                 data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
             },
         {% endfor %}
           ]
   });

   //  precipitacion ---------------------------------
    Highcharts.chart('precipitation', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones en el cuarto más seco (mm) vs Especies cultivadas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones en el cuarto más seco (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in precipitation.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });

    Highcharts.chart('precipitation_sold', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones en el cuarto más seco (mm) vs Especies vendidas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones en el cuarto más seco (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in precipitation_sold.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });

    Highcharts.chart('precipitation_purchased', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones en el cuarto más seco (mm) vs Especies compradas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones en el cuarto más seco (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in precipitation_purchased.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });

    Highcharts.chart('precipitation_consumed', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: '{% trans "Precipitaciones en el cuarto más seco (mm) vs Especies consumidas" %}'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '{% trans "Precipitaciones en el cuarto más seco (mm)" %}'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '{% trans "Especies" %}'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 7,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                }
            }
        },
        series: [
          {% for k,v in precipitation_consumed.items %}
                {
                  name: '{{k}}',
                  color: '{{k.province.country.color}}',
                  data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
              },
          {% endfor %}
            ]
    });
    //  altitude ---------------------------------
     Highcharts.chart('altitude', {
         chart: {
             type: 'scatter',
             zoomType: 'xy'
         },
         title: {
             text: '{% trans "Altitud (m) vs Especies cultivadas" %}'
         },
         xAxis: {
             title: {
                 enabled: true,
                 text: '{% trans "Altitud (m)" %}'
             },
             startOnTick: true,
             endOnTick: true,
             showLastLabel: true
         },
         yAxis: {
             title: {
                 text: '{% trans "Especies" %}'
             }
         },
         plotOptions: {
             scatter: {
                 marker: {
                     radius: 7,
                     states: {
                         hover: {
                             enabled: true,
                             lineColor: 'rgb(100,100,100)'
                         }
                     }
                 },
                 states: {
                     hover: {
                         marker: {
                             enabled: false
                         }
                     }
                 },
                 tooltip: {
                     headerFormat: '<b>{series.name}</b><br>',
                     pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                 }
             }
         },
         series: [
           {% for k,v in altitude.items %}
                 {
                   name: '{{k}}',
                   color: '{{k.province.country.color}}',
                   data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
               },
           {% endfor %}
             ]
     });

     Highcharts.chart('altitude_sold', {
         chart: {
             type: 'scatter',
             zoomType: 'xy'
         },
         title: {
             text: '{% trans "Altitud (m) vs Especies vendidas" %}'
         },
         xAxis: {
             title: {
                 enabled: true,
                 text: '{% trans "Altitud (m)" %}'
             },
             startOnTick: true,
             endOnTick: true,
             showLastLabel: true
         },
         yAxis: {
             title: {
                 text: '{% trans "Especies" %}'
             }
         },
         plotOptions: {
             scatter: {
                 marker: {
                     radius: 7,
                     states: {
                         hover: {
                             enabled: true,
                             lineColor: 'rgb(100,100,100)'
                         }
                     }
                 },
                 states: {
                     hover: {
                         marker: {
                             enabled: false
                         }
                     }
                 },
                 tooltip: {
                     headerFormat: '<b>{series.name}</b><br>',
                     pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                 }
             }
         },
         series: [
           {% for k,v in altitude_sold.items %}
                 {
                   name: '{{k}}',
                   color: '{{k.province.country.color}}',
                   data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
               },
           {% endfor %}
             ]
     });

     Highcharts.chart('altitude_purchased', {
         chart: {
             type: 'scatter',
             zoomType: 'xy'
         },
         title: {
             text: '{% trans "Altitud (m) vs Especies compradas" %}'
         },
         xAxis: {
             title: {
                 enabled: true,
                 text: '{% trans "Altitud (m)" %}'
             },
             startOnTick: true,
             endOnTick: true,
             showLastLabel: true
         },
         yAxis: {
             title: {
                 text: '{% trans "Especies" %}'
             }
         },
         plotOptions: {
             scatter: {
                 marker: {
                     radius: 7,
                     states: {
                         hover: {
                             enabled: true,
                             lineColor: 'rgb(100,100,100)'
                         }
                     }
                 },
                 states: {
                     hover: {
                         marker: {
                             enabled: false
                         }
                     }
                 },
                 tooltip: {
                     headerFormat: '<b>{series.name}</b><br>',
                     pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                 }
             }
         },
         series: [
           {% for k,v in altitude_purchased.items %}
                 {
                   name: '{{k}}',
                   color: '{{k.province.country.color}}',
                   data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
               },
           {% endfor %}
             ]
     });

     Highcharts.chart('altitude_consumed', {
         chart: {
             type: 'scatter',
             zoomType: 'xy'
         },
         title: {
             text: '{% trans "Altitud (m) vs Especies consumidas" %}'
         },
         xAxis: {
             title: {
                 enabled: true,
                 text: '{% trans "Altitud (m)" %}'
             },
             startOnTick: true,
             endOnTick: true,
             showLastLabel: true
         },
         yAxis: {
             title: {
                 text: '{% trans "Especies" %}'
             }
         },
         plotOptions: {
             scatter: {
                 marker: {
                     radius: 7,
                     states: {
                         hover: {
                             enabled: true,
                             lineColor: 'rgb(100,100,100)'
                         }
                     }
                 },
                 states: {
                     hover: {
                         marker: {
                             enabled: false
                         }
                     }
                 },
                 tooltip: {
                     headerFormat: '<b>{series.name}</b><br>',
                     pointFormat: '{point.y} {% trans "especies" %} | {point.x}'
                 }
             }
         },
         series: [
           {% for k,v in altitude_consumed.items %}
                 {
                   name: '{{k}}',
                   color: '{{k.province.country.color}}',
                   data: [ [{% if v.0 == None %}0{% else %}{{v.0}}{% endif %}, {% if v.1 == None %}0{% else %}{{v.1}}{% endif %}],]
               },
           {% endfor %}
             ]
     });

});
</script>
{% endblock %}
