{% extends "base.html" %}
{% load i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="/static/css/dataTables.bootstrap4.min.css" type="text/css"/>
{% endblock %}
{% block content %}
<div class="menu-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <div class="salida-title">
                    <h4>{% trans "Perfil de Especies" %}</h4>
                    <ol class="breadcrumb">
                        <li><a href="/">{% trans "Inicio" %}</a></li>
                        <li><a href="/filters/">{% trans "Explorar datos" %}</a></li>
                        <li class="active">{% trans "Perfil de Especies" %}</li>
                    </ol>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                <ul class="nav nav-tabs menu-fs pull-right" role="tablist">

                    <li role="presentation" class="active">

                        <a href="#filtro" aria-controls="filtro" role="tab" data-toggle="tab">
                        <div class="f-icon"><i class="fa fa-filter fa-2x"></i></div>
                        <h6>{% trans "filtro" %}</h6>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#indicadores" aria-controls="indicadores" role="tab" data-toggle="tab">
                            <div class="f-icon"><i class="fa fa-bar-chart fa-2x"></i></div>
                            <h6>{% trans "indicadores" %}</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel">

    <!-- Tab panes -->
    <div class="tab-content filtro-indicador">
        <div role="tabpanel" class="tab-pane active" id="filtro">
            {% include "salidas/select_filtros.html" %}
        </div>
        <div role="tabpanel" class="tab-pane" id="indicadores">
            {% include "indicadores.html" %}
        </div>
    </div>
</div>

<div class="consulta" id="consulta">
	<div class="contact_wrap">
		<div class="container">
			<div class="row">
				<!-- START SALES BLOCK -->
				<div class="panel panel-default panel-salidas">
                    <div class="panel-heading">
                        <div class="panel-title-box">
                            <h3>{% trans "Perfil de especie" %}</h3>
                            <span>{% trans "Lista de especies" %}</span>

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive" id="modalidad">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>{% trans "Nombre científico" %}</th>
										<th>{% trans "Nombre científico 2" %}</th>
										<th>{% trans "Nombre en ingles" %}</th>
										<th>{% trans "Nombre en francés" %}</th>
										<th>{% trans "Nombre vernáculo" %}</th>
                    <th>{% trans "Grupo nutricional" %}</th>
                    <th>{% trans "Tipo" %}</th>
									</tr>
								</thead>
								<tbody>
									{% for k,v in esp.items %}
									<tr>
										<td><a href="{% url 'profile-spicies-detalle' k.1 %}">{{k.0}}</a></td>
										<td>
											{% for valor in v %}
											{% for x in valor.0 %}
												{% if forloop.last %}{{x}}{% else %}{{x}},{% endif %}
											{% endfor %}
											{% endfor %}
										</td>
										<td>
											{% for valor in v %}
											{% for x in valor.1 %}
												{% if forloop.last %}{{x}}{% else %}{{x}},{% endif %}
											{% endfor %}
											{% endfor %}
										</td>
										<td>
											{% for valor in v %}
											{% for x in valor.2 %}
												{% if forloop.last %}{{x}}{% else %}{{x}},{% endif %}
											{% endfor %}
											{% endfor %}
										</td>
										<td>
											{% for valor in v %}
											{% for x in valor.3 %}
												{% if forloop.last %}{{x}}{% else %}{{x}},{% endif %}
											{% endfor %}
											{% endfor %}
										</td>
                    <td>{{k.2}}</td>
                    <td>{% if k.3 == 1 %}Animal{% elif k.3 == 2 %}{% trans "Planta" %}
                        {% elif k.3 == 3 %}Fungi{% elif k.3 == 4 %}Chromista{% endif %}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
                    </div>
                </div>
                <!-- END SALES BLOCK -->

			</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.table').DataTable({
		"language": {
						"lengthMenu": "{% trans 'Mostrar' %} _MENU_ {% trans 'registros por pagina' %}",
						"zeroRecords": "{% trans 'Ningún registro encontrado' %}",
						"info": "{% trans 'Mostrando pagina' %} _PAGE_ of _PAGES_",
						"infoEmpty": "{% trans 'No existen registros disponibles' %}",
						"infoFiltered": "({% trans 'filtrado de' %} _MAX_ {% trans 'total de registros' %})",
						"paginate": {
								"first":"{% trans 'Primero' %}",
								"last":"{% trans 'Último' %}",
								"next":"{% trans 'Siguiente' %}",
								"previous":"{% trans 'Anterior' %}"
						},
						"search":"{% trans 'Buscar' %}:",
				}
	});
});
</script>
{% endblock %}
