{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <ul class="filtro-select">
        <li class="title-f">
           <p>{% trans "Filtros" %} <br>
            {% trans "seleccionados" %}:</p>
        </li>
        <li>
            <p>
            <strong>{% trans "Región" %}: </strong>
              {% if request.session.region == '1' %}
              APAC
              {% elif request.session.region == '2' %}
              LatAm
              {% elif request.session.region == '3' %}
              South Asia
              {% elif request.session.region == '4' %}
              Asia
              {% elif request.session.region == '5' %}
              Africa
              {% endif %}
          </p>
          <p>

              <strong>{% trans "Paises" %}: </strong>
              {% for pais in request.session.country %}
                {{pais}}{% if not forloop.last %},{% endif %}
              {% endfor %}
          </p>
        </li>
        <li>
            <p>
                <strong>{% trans "Provincias" %}: </strong>
                {% for province in request.session.province %}
                    {{province}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
            <p>
                <strong>{% trans "Comunidades" %}: </strong>
                {% for community in request.session.community %}
                    {{community}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
        </li>

    </ul>

  </div>
</div>
