{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <ul class="filtro-select">
        <li class="title-f">
           <p>{% trans "Filtros" %} <br>
            {% trans "seleccionados" %}:</p>
        </li>
        <li class="f-border">
            {% if request.session.year %}
            <p>{% trans "Año" %}: {{request.session.year}}</p>
            {% endif %}

            <p>
            <strong>{% trans "Región" %}: </strong>
              {% for region in request.session.region %}
              {% if region == '1' %}
              APAC,
              {% elif region == '2' %}
              LatAm,
              {% elif region == '3' %}
              South Asia,
              {% elif region == '4' %}
              Asia,
              {% elif region == '5' %}
              Africa,
              {% endif %}
              {% endfor %}
              <strong>{% trans "Paises" %}: </strong>
              {% for pais in request.session.country %}
                {{pais}}{% if not forloop.last %},{% endif %}
              {% endfor %}
          </p>
          <p>


          </p>
            <p>
                <strong>{% trans "Provincias" %}: </strong>
                {% for province in request.session.province %}
                    {{province}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
            <p>
                <strong>{% trans "Comunidades" %}: </strong>
                {% for community in request.session.community %}
                    {{community}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p>
        </li>

    </ul>

  </div>
</div>
